In [1]:
import pandas as pd

In [2]:
df = pd.read_excel(open('Station Results_for_GIS_Phase2.xlsx','rb'), sheet_name=1)

IOError: [Errno 2] No such file or directory: 'Station Results_for_GIS_Phase2.xlsx'

In [8]:
df

   ModelRunName                                 SelectedFacilities
0         101-5                                367 506 64 256 569
1        101-10              367 506 64 569 526 626 769 15 154 346
2        101-15  367 506 569 526 626 769 15 154 346 231 521 714...
3         102-5                                 367 506 66 798 256
4        102-10              367 506 66 798 256 569 80 526 769 714
5        102-15  367 506 66 798 569 80 526 769 714 626 15 154 3...
6         103-5                                  367 506 80 256 66
7        103-10               367 506 80 256 66 569 526 626 769 15
8        103-15  367 506 80 66 569 526 626 769 15 154 346 252 2...
9         104-5                                 367 506 66 256 769
10       104-10              367 506 66 569 725 712 256 769 526 80
11       104-15  367 506 66 569 725 712 769 526 80 714 15 593 1...
12          201                                  66 80 367 454 506
13          202               15 66 80 256 341 367 402 454 506 626
14          203  15 66 80 256 341 367 402 454 506 526 569 593 6...
15          204                                 66 367 454 506 798
16          205               15 66 80 367 454 506 593 667 792 798
17          206  15 66 80 256 341 367 402 454 506 569 593 667 7...
18          207                                  66 80 367 454 506
19          208              15 66 80 256 341 367 402 454 506 626
20          209  15 66 80 154 256 341 367 402 454 506 526 569 5...
21          210                                 66 367 506 712 798
22          211               15 66 80 367 454 506 569 667 712 798
23          212  15 66 80 256 341 367 454 506 569 593 667 712 7...

In [9]:
# https://stackoverflow.com/questions/41624241/pandas-split-dataframe-into-two-dataframes
dfDFRLM = df.iloc[0:12]
dfFRLM = df.iloc[12:]

In [12]:
dfDFRLM

   ModelRunName                                 SelectedFacilities
0         101-5                                367 506 64 256 569
1        101-10              367 506 64 569 526 626 769 15 154 346
2        101-15  367 506 569 526 626 769 15 154 346 231 521 714...
3         102-5                                 367 506 66 798 256
4        102-10              367 506 66 798 256 569 80 526 769 714
5        102-15  367 506 66 798 569 80 526 769 714 626 15 154 3...
6         103-5                                  367 506 80 256 66
7        103-10               367 506 80 256 66 569 526 626 769 15
8        103-15  367 506 80 66 569 526 626 769 15 154 346 252 2...
9         104-5                                 367 506 66 256 769
10       104-10              367 506 66 569 725 712 256 769 526 80
11       104-15  367 506 66 569 725 712 769 526 80 714 15 593 1...

In [14]:
#Pandas Dataframe: split column into multiple columns, right-align inconsistent cell entries
#https://stackoverflow.com/questions/23317342/pandas-dataframe-split-column-into-multiple-columns-right-align-inconsistent-c
foo1 = lambda x: pd.Series([i for i in reversed(x.split(' '))])
dfDFRLMsplit = dfDFRLM['SelectedFacilities'].apply(foo1)
print dfDFRLMsplit

     0    1    2    3    4    5    6    7    8    9    10   11   12   13   14
0        569  256   64  506  367  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1   346  154   15  769  626  526  569   64  506  367  NaN  NaN  NaN  NaN  NaN
2   252   80   66  714  521  231  346  154   15  769  626  526  569  506  367
3   256  798   66  506  367  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4   714  769  526   80  569  256  798   66  506  367  NaN  NaN  NaN  NaN  NaN
5   231  252  346  154   15  626  714  769  526   80  569  798   66  506  367
6    66  256   80  506  367  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
7    15  769  626  526  569   66  256   80  506  367  NaN  NaN  NaN  NaN  NaN
8   714  521  231  252  346  154   15  769  626  526  569   66   80  506  367
9   769  256   66  506  367  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
10   80  526  769  256  712  725  569   66  506  367  NaN  NaN  NaN  NaN  NaN
11  252  346  154  593   15  714   80  526  769  712  725  569   66  506  367

In [21]:
dfDFRLMsplit[0]

0
1     346
2     252
3     256
4     714
5     231
6      66
7      15
8     714
9     769
10     80
11    252
Name: 0, dtype: object

In [11]:
foo2 = lambda x: pd.Series([i for i in reversed(x.split(' '))])
dfFRLMsplit = dfFRLM['SelectedFacilities'].apply(foo2)
print dfFRLMsplit

     0    1    2    3    4    5    6    7    8    9    10   11   12   13   14
12  506  454  367   80   66  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
13  626  506  454  402  367  341  256   80   66   15  NaN  NaN  NaN  NaN  NaN
14  798  769  626  593  569  526  506  454  402  367  341  256   80   66   15
15  798  506  454  367   66  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
16  798  792  667  593  506  454  367   80   66   15  NaN  NaN  NaN  NaN  NaN
17  798  792  714  667  593  569  506  454  402  367  341  256   80   66   15
18  506  454  367   80   66  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
19       626  506  454  402  367  341  256   80   66   15  NaN  NaN  NaN  NaN
20  769  626  593  569  526  506  454  402  367  341  256  154   80   66   15
21  798  712  506  367   66  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
22  798  712  667  569  506  454  367   80   66   15  NaN  NaN  NaN  NaN  NaN
23  798  792  714  712  667  593  569  506  454  367  341  256   80   66   15